@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

/* 
.nav-withd{
  width: 300px;
  border: rebeccapurple 1px solid;
} */


.ddd {
  width: 700px;
}